<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TokenManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${AppData}\VNPT Software\VNPT-CA Token Manager\tokenmanager.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <preserveLogFileNameExtension value="true"/>
      <datePattern value="yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%logger] %message%newline"/>
      </layout>
    </appender>
  </log4net>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <TokenManager.Properties.Settings>
            <setting name="CACHED_PKCS11_MODULE_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="ALLOWED_PKCS11_MODULE" serializeAs="String">
                <value>vnptca_p11_v6,BkavCA,vnpt-ca_csp11</value>
            </setting>
            <setting name="SIDE_MENU_STATE" serializeAs="String">
                <value>OPEN</value>
            </setting>
            <setting name="HAS_UPDATED_CERT_LIST" serializeAs="String">
                <value>0410131413111210,</value>
            </setting>
        </TokenManager.Properties.Settings>
    </userSettings>
</configuration>
